.navbar {
  background-color: #060696;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  height: 20%;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #060696;
}

.navitems {
  list-style-type: none;
  margin-top: 10px;
  padding-left: 0;
  align-items: center;
}

li {
  display: inline-block;
  padding: 0 20px;
  font-size: 2rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: normal;
    justify-content: center;
  }

  li {
    display: block;
    font-size: 1.5rem;
    padding: 0;
  }
}
