.project-card-container {
  height: 180px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.project-card-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.company-logo-container {
  flex: 0.6;
  overflow: hidden;
  margin: 0 5px;
}

.company-logo {
  width: 50%;
}

.company-role {
  flex: 0.4;
  flex-direction: column;
}

.project-card-container p {
  font-size: 1.5rem;
}
