.project-card-container {
  height: 200px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  padding: 20px;
}

.company-logo-container {
  flex: 0.6;
  overflow: hidden;
  margin: 0 5px;
}

.company-logo {
  width: 70%;
}

.company-role {
  flex: 0.4;
  flex-direction: column;
}

.project-card-container p {
  font-size: 1.5rem;
}
