.card-container {
  width: 300px;
  border-radius: 5px;
}

.project-picture {
  height: 200px;
  width: 300px;
}

.project-title {
  font-weight: 400;
  margin-bottom: 5px;
}

.links-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.link {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  object-fit: contain;
}
