.container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.cornell-info {
  width: 50%;
  text-align: left;
  font-size: 1.1rem;
}

.em {
  font-weight: 500;
}

.edulinks {
  color: #ae17d4;
}

.edulinks:link {
  text-decoration: none;
  color: green;
}

.cornell-logo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

@media only screen and (max-width: 768px) {
  .cornell-logo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }

  .cornell-info {
    width: 100%;
  }
}
