.navbar {
  background-color: #060693;
  position: sticky;
  position: -webkit-sticky;
  width: 100%; /* Full width */
  top: 0px;
  left: 0;
  z-index: 10000;
}

.navitems {
  list-style-type: none;
  margin-top: 10px;
  padding-left: 0;
  align-items: center;
}

.navitems li {
  display: inline-block;
  padding: 0 20px;
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease-out;
}

.navitems li:hover {
  transform: scale(1.15);
  color: orange;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navitems {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .navitems li {
    font-size: 1.5rem;
    padding: 0;
  }
}
