.card-container {
  width: 250px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin: 20px;
}

.card-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project-picture {
  height: 200px;
  width: 100%;
}

.project-header {
  display: flex;
}

.project-title {
  font-weight: 400;
  margin-bottom: 5px;
  padding: 10px;
}

.supplementary-img {
  width: 100%;
  max-height: 600px;
}

.links-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.link {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  object-fit: contain;
}

.tech-stack-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.tech-logo {
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .project-header {
    display: inline;
    margin: 0 auto;
    width: 100%;
  }

  .tech-stack-container {
    margin-bottom: 20px;
  }

  .tech-stack-container > * {
    margin: 1em 0;
  }
}
