.App {
  text-align: center;
  margin-bottom: 50px;
}

img {
  object-fit: cover;
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  height: 60px;
  width: auto;
  margin-right: 20px;
}
